# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_NAME=dbname
DB_SSLMODE=disable

# Server Configuration
SERVER_PORT=8080

#LDAP
set LDAP_SERVER=ldap_ip
set LDAP_BIND_DN=service@example.com
set LDAP_BIND_PASSWORD=ldap_password
set LDAP_BASE_DN=DC=EXAMPLE,DC=COM
set LDAP_REQUIRED_GROUP=CN=Group,OU=SUB_OU,OU=Группы Доступа,DC=EXAMPLE,DC=COM